body {
  background-color: white;
}
/* header-section */
header {
  background-image: url("./images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #070211;
  margin: 20px 0px;
}
.Happy-container {
  padding: 177px 334px;
}

.title {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}
.heading {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
/* main-section
card1 */
.card1 {
  margin: 70px 140px;
  padding: 10px;
}
.card1-headin {
  font-size: 68px;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
}
.card1-pera {
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.card1-title {
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  text-align: center;
}
/* card2 */
.card2 {
  position: relative;
  background-color: black;
  background-image: url("./images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  margin: 50px 140px;
  padding: 80px 120px 80px 60px;
}
.card2-contain {
  text-align: center;
  width: 550px;
}
.card2-heading {
  font-size: 44px;
  font-weight: bold;
  color: white;
}
.card2-pera {
  font-size: 18px;
  color: white;
}
.card2-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-left: 20px;
}
.card2-img {
  width: 220px;
  position: absolute;
  right: 120px;
  bottom: 20px;
}
/* card3 */
.card3 {
  background-color: #f4d8d8;
  margin: 60px 140px;
  padding: 70px 80px;
  text-align: center;
}
.card3-pera {
  font-size: 32px;
  font-weight: bold;
  color: #070211;
}
span {
  color: #ff0000;
}
.card3-btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #ff0000;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
}
.card3-btn:hover{
  background-color: yellow;
  color: black;
  cursor: pointer;
}
/* card4 */
.card4 {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  align-items: center;
  background-color: #f0ecec;
  margin: 20px 140px;
  margin-top: -60px;
  padding: 10px 80px 20px 40px;
}
/* card4-left-side */
.left-side-title {
  font-size: 24px;
  font-weight: 600px;
  color: #ff0000;
  text-wrap: nowrap;
}
.left-side-heading {
  font-size: 48px;
  font-weight: 700;
  text-wrap: nowrap;
}
.left-side-pera {
  font-size: 20px;
  color: #070211;
}
/* card4-right-side */
.right-side-heading {
  font-size: 48px;
  font-weight: bold;
  color: #ff0000;
}
.right-side-pera {
  font-size: 20px;
  color: #070211;
}
/* card5 */
.card5 {
  position: relative;
  margin: 0px 140px;
  margin-top: -20px;
  background: #f0ecec;
  padding: 10px 0px;
}
.card5-text {
  text-align: center;
}
.card5-heading {
  font-size: 24px;
  font-weight: 600px;
}
.card5-title {
  font-size: 62px;
  font-weight: bold;
}
.card5-pera {
  font-size: 20px;
  font-weight: 500px;
  color: #070211;
  margin: 0 50px;
  margin-bottom: 250px;
}
.card5-img1 {
  position: absolute;
  bottom: 40px;
  left: 10%;
}
.card5-img2 {
  position: absolute;
  bottom: 180px;
  right: 5%;
}
.card5-img2:hover{
  cursor: pointer;
}
/* card6 */
.card6 {
  margin: 0px 140px;
  background: #f0ecec;
  padding: 20px 0;
}
.card6-heading {
  font-size: 24px;
}
.card6-title {
  font-size: 48px;
  font-weight: 700;
}
.card6-pera {
  font-size: 20px;
  color: #070211;
  width: 600px;
}
.card6-img1 {
  display: flex;
  gap: 24px;
  margin: 20px 0;
  justify-content: center;
}
.card6-img1 img {
  width: 300px;
}
/* card7 */
.card7 {
  margin: 0px 140px;
  background-color: #f8c1c1;
  padding: 40px 0;
}
.card7-images {
  text-align: center;
}
.card7-text {
  text-align: center;
}
.card7-title {
  font-size: 48px;
  font-weight: bold;
}
.card7-pera {
  font-size: 20px;
  color: #070211;
}
.card7-input {
  text-align: center;
}
.input-text {
  padding: 35px;
  width: 30%;
  border-radius: 40px 0 0 40px;
  border-right: none;
  font-size: 16px;
  font-weight: bold;
}

.input-submit {
  padding: 35px;
  width: 20%;
  border-radius: 0 40px 40px 0;
  border-left: none;
  margin-left: -10px;
  color: #ffffff;
  background-color: #ff0000;
  font-size: 16px;
  font-weight: bold;
}
.input-submit:hover{
  background-color: chartreuse;
  cursor: pointer;
  color: black;
}
/* footer-section */
footer {
  margin: 70px 0px;
  background-color: #070211;
}
.footer-heading {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  padding: 50px 70px;
}
.footer-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 40px 0px;
}
.footer-icon img:hover{
  cursor: pointer;
}
